<html>
  <head>
    <title> HighLine </title>
    <style type="text/css"> @import url(highline.css); </style>
  </head>
  <body>
    <div id="container">
      <div id="header"></div>
      <div id="content">
        <%= content %>
      </div>
      <div id="sidebar">
        <%= sidebar %>        
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
